* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  background-color: bisque;
  font-size: 0.9rem;
  color: black;
}


.show {
  visibility: visible !important;
  opacity: 1;
}